.CommentAdd {

}

.CommentAdd__form {
    display: flex;
    flex-direction: column;
    /*width: 80%;*/
    /*margin: 10px 10px 10px 10px;*/
    /*marg*/
    border-radius: 5px;
    padding: 5px;
}

.CommentAdd__form__textarea, .CommentAdd__form__button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
}

button.CommentAdd__form__button {
    padding: 0 5px 5px 5px;
    margin: 0 5px 5px 5px;

}