.LayoutContentItems {
  /*height: calc(100% - 45px);*/
  display: flex;
  flex-flow: nowrap column;

  /*Move scrollY to box outside*/
  overflow-y: auto;
  //overflow-y: overlay;
  overflow-x: hidden;
  width: 100%;

  margin: calc(var(--padding) / 2) 0;
  padding: 0 var(--padding);

  &__items {
    /*Move scrollX to box outside*/
    width: calc(var(--page-width) - 2 * var(--padding));
  }

}