.PagesPostsListPost {
  margin: .5em 0;
  min-height: fit-content; /* Need by Mobile Safari( */

  &__link:hover {
    color: darkred;
  }

  &__body {
    background-color: #eaeaea;
    border-radius: .5em;
    padding: .5em;
  }

}