.__Comment {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 0.9em;
    margin-bottom: 10px;

    &__body {
        background-color: #D9DEEA;
    }

    &__copyright {
        font-size: 0.8em;
    }
}