.SignInOut {
  display: flex;
  flex-flow: nowrap column;
}


/* Set equal width with greeting. */
.SignInOut__signInButton, .SignInOut__signOutButton {
  width: auto;
}

.SignInOut__greeting {
  font-size: 0.9rem;
}

.SignInOut__greetingName {
  font-size: .8rem;
  font-weight: bold;
}
.SignInOut__greetingAccent {
  color: green;
}


/* Theme signOut button with green|red circle */
.SignInOut__buttonDisc {
  display: list-item;
  list-style: disc inside;
}
.SignInOut__buttonOutDisc {
  color: red;
}
.SignInOut__buttonInDisc {
  color: green;
}
.SignInOut__buttonText {
  color: var(--color);
}