.SignInPage__note {
    font-size: 0.9em;
    /*background-color: #77A0B8;*/
    /*border-color: #77A0B8;*/
    border: 1px solid #77A0B8;
    padding: 17px;
}

ul.SignInPage__note__ul, li.SignInPage__note {
    font-size: 0.8em;
}