//@import 'reset.less';

:root {
  --color: black;
  --bg-color: #EEE;
  --post-bg-color: #EAEAEA;
  /*--post-bg-color: #F4F4F4;*/
  --border-color: #DDDDDD;
  font: calc(.5em + 1vmin)/1.2 normal Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  /*.viewport-unit(font-size, calc(.5em + 1vmin))*/
  /*width: 100vw;*/
}

h1,h2,h3,h4 {
  font-family: 'Open Sans Condensed', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (min-width: 37.5em) {
  h1,h2,h3,h4 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

html,body {
  height: 100%;
}
html,body,p,h1,h2,h3,h4,ul,li,hr {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color);
}

h1 {
  font-size: 1.8rem;
  font-weight: bolder;
}
h2 {
  font-size: .8rem;
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
}


#root {
  display: flex;
  height: 100%;
}