//@import 'reset.less';

:root {
  --page-width: 70vw;
  --scroll-width: 16px;
  --padding: var(--scroll-width);
  --body-bg-from: #36798B;
  --body-bg-to: #61DAFB;
  --color: black;
  --bg-color: #EEE;
  --post-bg-color: #EAEAEA;
  --comment-bg-color: #E8E8F0;
  /*--post-bg-color: #F4F4F4;*/
  --border-color: #DDDDDD;
  --own-comment-color: #F5D6A5;

  --comment-font-family: "Marker Felt", "Comic Sans MS", fantasy;

  font: calc(.5em + 1vmin)/1.2 normal Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

  -webkit-text-size-adjust: none;
  /*.viewport-unit(font-size, calc(.5em + 1vmin))*/
  /*width: 100vw;*/
}

@media (min-width: 1200px) {
  :root {
    --page-width: 50vw;
  }
}
@media (min-width: 1600px) {
  :root {
    --page-width: 30vw;
  }
}
@media (max-width: 1200px) {
  :root {
    --page-width: 75vw;
  }
}
@media (max-width: 600px) {
  :root {
    --page-width: 85vw;
  }
}
@media (max-width: 500px) {
  :root {
    --page-width: calc(100vw - var(--scroll-width) / 2);
  }
}

* {
  box-sizing: border-box;
}

html,body,p,h1,h2,h3,h4,ul,li,hr {
  padding: 0;
  margin: 0;
}

html,body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, var(--body-bg-from), var(--body-bg-to));
  margin: 0 calc(var(--scroll-width) / 2);
  overflow: hidden;
}


h1,h2,h3,h4 {
  font-family: 'Open Sans Condensed', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (min-width: 37.5em) {
  h1,h2,h3,h4 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

a {
  text-decoration: none;
  color: var(--color);
}

h1 {
  font-size: 1.8rem;
  font-weight: bolder;
}
h2 {
  font-size: .8rem;
  font-weight: bold;
  font-stretch: condensed;
  text-transform: uppercase;
}

#root {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}