.PagesPostCreate {

  &__form {
    display: flex;
    flex-flow: nowrap column;
    border-radius: .5em;
    padding: .5em;
  }

  &__formInput, &__formTextarea, &__formButton {
    border-radius: .5em;
    padding: .5em;
    margin: .5em .5em;
  }
  &__formButton {
    padding: 0 .5em .5em .5em;
    margin: 0 .5em .5em .5em;
  }

  &__formError {
    color: red;
  }

}