.RateComponent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.RateComponent__average {
  font-size: .7rem;
  color: gray;
}

.RateComponent__own {
  font-size: .7rem;
  color: gray;
  margin-left: auto; /* This align flex box right */
}

.RateComponent__rc-rate {
}
.RateComponent__rc-rate-disabled {
}


.RateComponent__rc-rate .rc-rate-star:hover {
  transform: scale(2);
}
.RateComponent__rc-rate-disabled .rc-rate-star:hover {
  cursor: not-allowed;
  transform: scale(1);
}