.ListPostComments {
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ListPostComments__num {
  /*font-size: 1.6em;*/
}
.ListPostComments__last {
  /*float: right;*/
}
