.PagesSignIn {

  background-color: var(--bg-color);

  &__contentCenter {
    margin: 15% var(--padding) 0;
    border: 1px solid #B6B6B6;
    border-radius: var(--padding);
  }

  &__h2 {
    text-align: center;
    margin-top: .5em;
    padding: .5em;
    font-size: 1.5rem;
    font-stretch: condensed;
  }

  &__row {
    display: flex;
    padding: .5em;
    border-radius: .5em;
  }

  &__hint {
    flex: 1;
    margin: 0 1em 0 auto;
    padding: 0.5em;
    font-size: 0.8rem;
    border: .5em solid #DDDDDD;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    /* Horizontal centering a column blocks. */
    align-items: center;
  }

  &__hintVerticalCenter {
    flex: 1;
    display: flex;
    flex-flow: column;
    /* Vertical align. */
    justify-content: center;
  }

  &__hintItem {
    /*border: 1px solid green;*/
  }

  &__hintTop {
    /* For some centering a block with an uneven right border. */
    padding-left: 1em;
  }

  &__hintMiddle {
  }

  &__hintBottom {
    list-style: disc inside;
  }

  &__form {
    flex: 2;
    display: flex;
    flex-flow: column;
    border: .5em solid #DDDDDD;
    border-radius: 0.5rem;
  }

  &__formInput {
    flex: 1 1;
    border-radius: .3em;
    margin: .5em;
  }

  &__formInput .Input__input {
    font-size: 1.5rem;
    border-radius: .3em;
  }

  &__formInputLogin {
  }

  &__formInputPassword {
  }

  &__formButton {
    flex: 1 1;
    margin: .5em;
    font-size: 1.1rem;
  }

  &__error {
    color: red;
  }
}