.PostCreatePage__form {
  display: flex;
  flex-direction: column;
  /*width: 80%;*/
  /*margin: 10px 10px 10px 10px;*/
  /*marg*/
  border-radius: 5px;
  padding: 5px;
}
.PostCreatePage__form__input,
.PostCreatePage__form__textarea,
.PostCreatePage__form__button {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px;
}
button.PostCreatePage__form__button {
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
}
